flows.json
[{"id":"8ef9e88c.291b78","type":"tab","label":"Flow final","disabled":false,"info":""},{"id":"98564723.dc2918","type":"ui_form","z":"8ef9e88c.291b78","name":"","label":"","group":"31ade637.1ae3fa","order":1,"width":6,"height":2,"options":[{"label":"Search for News","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":80,"wires":[["2c81a3ac.23eecc"]]},{"id":"2c81a3ac.23eecc","type":"function","z":"8ef9e88c.291b78","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":140,"wires":[["2b70b443.a9dadc"]]},{"id":"269bb725.7177d8","type":"function","z":"8ef9e88c.291b78","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["a5c09950.b178f8"]]},{"id":"2b70b443.a9dadc","type":"watson-discovery-v1","z":"8ef9e88c.291b78","name":"News","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/451bfa03-f9bd-4e76-b855-c9cb7e627d91","x":250,"y":220,"wires":[["269bb725.7177d8","4cc33878.37c118","b733cd8e.06b17","d2c1d8b9.10a3d8","3bd55baf.c46104","5b66fb16.9888d4","b1d35d5a.811f9"]]},{"id":"a5c09950.b178f8","type":"ui_text","z":"8ef9e88c.291b78","group":"31ade637.1ae3fa","order":8,"width":6,"height":1,"name":"","label":"Search result","format":"{{msg.payload}}","layout":"col-center","x":690,"y":100,"wires":[]},{"id":"d2c1d8b9.10a3d8","type":"function","z":"8ef9e88c.291b78","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["9d7c0f27.1eb1b"]]},{"id":"4cc33878.37c118","type":"function","z":"8ef9e88c.291b78","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["6d52518c.454d2"]]},{"id":"5b66fb16.9888d4","type":"function","z":"8ef9e88c.291b78","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["3c169d99.355fd2"]]},{"id":"b733cd8e.06b17","type":"function","z":"8ef9e88c.291b78","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["43792c25.381804"]]},{"id":"3bd55baf.c46104","type":"function","z":"8ef9e88c.291b78","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["35f74572.ed330a"]]},{"id":"35f74572.ed330a","type":"ui_text","z":"8ef9e88c.291b78","group":"31ade637.1ae3fa","order":12,"width":6,"height":2,"name":"","label":"Sentiment Analysis","format":"{{msg.payload}}","layout":"col-center","x":710,"y":300,"wires":[]},{"id":"9d7c0f27.1eb1b","type":"ui_text","z":"8ef9e88c.291b78","group":"31ade637.1ae3fa","order":6,"width":6,"height":1,"name":"","label":"URL","format":"{{msg.payload}}","layout":"col-center","x":670,"y":220,"wires":[]},{"id":"6d52518c.454d2","type":"ui_text","z":"8ef9e88c.291b78","group":"31ade637.1ae3fa","order":2,"width":6,"height":1,"name":"","label":"Author","format":"{{msg.payload}}","layout":"col-center","x":670,"y":140,"wires":[]},{"id":"3c169d99.355fd2","type":"ui_text","z":"8ef9e88c.291b78","group":"31ade637.1ae3fa","order":4,"width":6,"height":1,"name":"","label":"Main Page URL","format":"{{msg.payload}}","layout":"col-center","x":700,"y":180,"wires":[]},{"id":"43792c25.381804","type":"ui_gauge","z":"8ef9e88c.291b78","name":"","group":"31ade637.1ae3fa","order":10,"width":6,"height":6,"gtype":"gage","title":"Sentiment Score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#1cff1c","#ffff3e","#ff8040"],"seg1":"","seg2":"","x":710,"y":260,"wires":[]},{"id":"32e1ef9.7ff3a1","type":"function","z":"8ef9e88c.291b78","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["1fe434c0.46685b"]]},{"id":"1fe434c0.46685b","type":"ui_chart","z":"8ef9e88c.291b78","name":"","group":"31ade637.1ae3fa","order":13,"width":6,"height":6,"label":"Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff80","#ff8040","#8080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":340,"wires":[[]]},{"id":"b1d35d5a.811f9","type":"function","z":"8ef9e88c.291b78","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["32e1ef9.7ff3a1"]]},{"id":"31ade637.1ae3fa","type":"ui_group","z":"","name":"Watson Discovery News Search","tab":"bd70c946.4f1318","order":1,"disp":true,"width":"6","collapse":false},{"id":"bd70c946.4f1318","type":"ui_tab","z":"","name":"IBM Watson Discovery","icon":"dashboard","disabled":false,"hidden":false}]